@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1140px;
    height: 150px;
    margin: 0 auto;
}
.names{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800px;
    line-height: 33px;
}
.download{
    width: 228px;
    height: 58px;
    color: rgb(13, 19, 33);
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
 *{
    margin: 0%;
    padding: 0%;
 }
 /* common-styles */
 .common-styles{
    margin-top: 18px;
 }
 /* margin-top */
 .margin-top{
    margin-top: 48px;
 }
 /* banner-sections_styles */
 .banner-section{
    max-width: 1440px;
    min-height: 652px;
    margin-top: 50px;
    margin: 0% auto;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
 .banner-container{
    width: 998px;
    margin: 0% auto;
    height: 582px;
    margin-top: 26px;
    text-align: center;
  

 }
.banner-text{
    font-family: "Azeret Mono", monospace;
    padding-top: 32px;
    font-size: 38px;
    font-weight: 800px;
    letter-spacing: 0%;
}
.banner-description{
  font-family: "Azeret Mono", monospace;
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-weight: 400px;
}
.button-styles{
    width: 208px;
    height: 64px;
    margin-top:50px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600px;
    font-size: 24px;
    line-height: 23px;

}
/* Frist-section */
.frist-section{
    max-width: 1140px;
    min-height: 1395px;
    margin: 0% auto;
    margin-top:74px ;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

}
.frist-section-container{
    width: 946px;
    height: 1072px;
    margin: 0%auto;
    margin: 80px 96px 80px 96px;

}
.sections-frist-content{
    text-align: center;
}

.sections-frist-content{
    display: block;
    justify-content: center;
    align-items: center;
}
.frist-section-titile{
  font-family: "Azeret Mono", monospace;
  font-size: 32px;
  font-weight: 800px;
  color: black;

}
.frist-section-description{
    font-family: "Azeret Mono", monospace;
    padding-top: 24px;
    font-size: 16px;
    line-height: 26px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-weight: 400px;
}  
.frist-sections-second-contain{
    width: 946px;
    height: 336px;
    margin-top: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   
}

.frist-sections-second-containers{
    padding: 48px 48px 48px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.frist-sections-second-content{
    width: 477px;
    height: 220px;
   
} 
.images-frist-section{
    width: 274.17px;
    height: 240px;
  
}
.images-frist{
    width: 259.56px;
    height: 217.01px;
   

}
.frist-section-second-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  
   
}
.frist-section-second-subtitle{
    padding-top: 16px;
    color: rgb(71, 72, 73);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    font-family: Azeret Mono;
}
.second-button-styles{
    width: 150px;
    height: 48px;
    margin-top: 32px;
    font-size: 20px;
    font-weight: 600px;
    border: 1px solid grey;
    background: white;
    color: black;
    opacity: 0.7;
}
/* second-blogs-styles */
.frist-sections-third-contain{
    width: 946px;
    height: 336px;
    margin-top: 32px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  

}
.frist-sections-third-containers{
    
    padding: 48px 48px 48px 48px;
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;

}
.second-images-frist-section{
    width: 240px;
    height: 240px;
}
.frist-sections-third-content{
    margin-right: 35px;
    width: 477px;
    height: 220px;
  
}
/* second-section-styles */
.second-section{
    width: 1140px;
    height: 714px;
    margin: 0 auto;
    margin-top: 47px;


}
.seccond-section-container{
    width: 852px;
    height: 130px;
    margin: 0% auto;
    text-align: center;

    
}
.second-section-title{
    font-size: 32px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono; ;
}
.second-section-subtitile{
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
}
.second-sections-video{
    text-align: center;
    border-radius: 16px;
    margin-top: 38px;
    border: 1px solid rgb(151, 148, 148);
}

iframe{
    width: 1076px;
    height: 550PX;
    margin-bottom:12px;
    margin-top: 15PX;
    text-align: center;
    border-radius: 16PX;
  
}
   
/* third-section-styles*/
.third-section{
    width: 1140px;
    height: 714px;
    margin: 0 auto;
    margin-top: 78px;
   

}
.third-blogs-section{
    max-width: 1140px;
    height: 463px;
   
    display: flex;
    align-items: center;
    gap: 24px;
    
}
.html-blogs ,.css-blogs,.Js_blogs{
    width: 364px;
    height: 300px;
    /* border: 1px solid lawngreen; */
}
.html-blogs {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

}
.css-blogs{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.Js_blogs{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.html-titile,.css-title,.js-title{
    padding: 40px 40px 40px 40px;

}
.HTML-TEXT,.CSS-TEXT,.JS-TEXT{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24PX;
    font-weight: 800px;
    padding-top: 20px;
}
.html-subtitle,.css-subtitle,.js-subtitle{
    font-size: 16px;
    font-weight: 400;
    padding-top: 8px;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-family: Azeret Mono;
    
}
.larn-More{
    color: black;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight:700;
    padding-top: 20px;
    line-height: 18px;
    letter-spacing: 0%;
}
/* Fourth-section */
.fourth-section{
    width: 1140px;
    height: 866px;
    margin: 0% auto;
    /* border: 1px solid teal; */
}
.fourth-text-heading{
    text-align: center;
}
.fourth-section-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}
.fourth-section-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 24px;
}
.fourth-sections-blogs{ 
    width: 1140px;
    height: 219px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);


}
.fourth-section-content{
    width: 1060px;
    height: 145px;
    display: flex;
    margin: 40px 40px 40px 40px;
    gap: 70px;
    /* border: 1px solid hotpink; */
}
.react-js{
    padding: 20px 20px;
    width: 94.78px;
    height: 84.41px;
}

.rect{
    font-size: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-weight:800;
}
.react-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height:18px;
    opacity: 0.7;
    padding-top: 8px;
}
.fourth-button{
    height: 18px;
    font-size: 24px;
    color:black;
    font-family: Azeret Mono;   
    padding-top:24px;
  
}
.nodejs{
    width: 143.21px;
    height: 88px;
    padding: 25px 24px 25px 0px;
}
.mongo{
  
    width: 108px;
    height: 108px;
}
/* last-banners */
.last-banner-section{
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    align-items: center;
    margin-top: 49px;
    border-radius: 16px;
    background: rgb(30, 30, 30);
    background-image: linear-gradient(360deg ,rgb(7,4,17),rgba(7,2,0,0)100%),url(../assets/handshake.jpg);
    background-position: center;
    background-size: cover;
}
.last-banner-container{
    width: 1044px;
    height: 230px;
    text-align: center;
    margin: 0% auto;
    margin-top: 64px;
    margin-left: 48px;
    margin-bottom: 64px;
    margin-right: 48px;
    
}
.last-banner-contain{
    width: 730px;
    height: 104px;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    
}
.banner-title{
    padding-top: 64px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    line-height: 26px;
    font-weight: 700;
}
.banner-subtitle{
    padding-top: 16px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);  
}
.last-banner-button{
    margin-top: 34px;
    text-align: center;
    margin-left: 100px;
    padding-top: 30px;

}
.input-type{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 900px;
    line-height: 26px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 584px;
    height: 57px;
    margin-right: 16px;
}
.last-btn{
    color: rgb(13, 19, 33);
    font-size: 20px;
    line-height: 23px;
    font-family: Azeret Mono;
    font-weight: 600;
    padding-left: 20px;
    width: 120px;
    height: 58px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
/* footer-section */
#footer-section{
    width:1380px;
    height: 100px;
    margin: 0% auto;
    margin-top: 79px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    border: 1px solid khaki;
    border: none;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    /* border: 1px solid hotpink; */
    margin: 32px 150px 32px 150px;
}
.footer-text{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600px;
    line-height: 23px;
    text-align: center;
}
img{
    margin-left: 24px;
}
